.wrapper {
    width: 100vw;

    .top-strip {
        padding: 8px 0;
        background-color: var(--color-primary);
    }

    p {
        font-size: 12px;
        font-weight: 500;
    }

    .header {
        width: 100%;
        height: auto;
        padding: 10px 0;

        .column-left {
            img {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .column-center {}

        .column-right {
            padding-left: 0;

            .header-user,
            .cart-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 50px;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 1px solid rgba(0, 0, 0, 0.1);

                svg {
                    font-size: 30px;
                    color: var(--color-black);
                }
            }

            .cart {
                position: relative;

                .cart-icon {
                    background-color: #fff1ee;
                    border: 1px solid rgb(234, 43, 15, 0.1);
                    font-size: 1rem;

                    svg {
                        color: #ea2b0f;
                    }
                }

                .cart-count {
                    position: absolute;
                    top: 2px;
                    right: -4px;

                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: #ea2b0f;
                    color: var(--color-white);
                    font-size: 12px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
            }

            .signin-btn {
                padding: 17px 20px;
                background-color: var(--color-primary);
                color: var(--color-white);
            }


            @media (max-width: 576px) {
                margin: 10px 0 0 0;
                padding-left: 12px;
            }
        }

    }


}